<!-- index.ejs -->
<!-- This is the homepage at localhost:3000/ -->

<%- include("partials/head") %>
<body>
  <h1>Mustafa Drive</h1>
  <% if (!isAuth) { %>
    <a href="/login">Log in</a>
    <br>
    <br>
    <a href="/signup">Sign up</a>
  <% } else { %>
    <h3>Hello, <%= username %></h3>
    <a href="/create-new-folder">Create New Folder</a>
    <!-- show folders -->
     <ul>
      <% folders.forEach(folder => { %>
        <li><a href="/folder/<%= folder.id %>"><%= folder.name %></a></li>
      <% });%>
    </ul>
  <% } %>
</body>
<%- include("partials/footer") %>